/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
  margin:0; 
  padding:0;
  font-family:'Vast Shadow', cursive;
  background-image: url("mixedaniamls4.jpg");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 28px;
  height: 18px;
  float: left;
  margin-right: 20px;
  opacity: 0.7;
}


.info {
  padding: 6px 8px;
  
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

  #map { position:relative; 
      top:0; 
      bottom:0;
      width:50%; }
      text-center {
      background: #f99;
      overflow: hidden;
  }
  .bg{
    /* The image used */
    background-image: url("mixedaniamls4.jpg");
    /* Full height */
    height: auto; 
    
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    opacity: 0.3;
    top:0;
  }
  
  
  #menu {
  position: absolute;
  background: #fff;
  padding: 10px;
  font-family: 'Indie Flower', cursive;
  }
  
  
  
  .marker {
    background-image: url('icons/Pins/Cat.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
  }
  
  
  .mapboxgl-popup {
    max-width: 200px;
  }
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }

  